
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.app{
  display: flex;
  position: relative;
}
.content::before{
  opacity: 0.7;
}
.content{
  height: 2500px;
  background-image:  url('./../public/assets/Aditi_bg.png'), url('./../public/assets/image_renewable21.jpg');
 /* background-attachment: "fixed";
  background-size: "cover";*/
  
  background-repeat: "repeat-y";
}
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #e0e0e0;
}

::-webkit-scrollbar-track::hover{
  background: #555;
}

::-webkit-scrollbar-thumb{
  background: #888;
}